<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div id="back">
        <canvas id="canvas" class="canvas-back"></canvas>
        <div class="backRight">
        </div>
        <div class="backLeft">
        </div>
    </div>

    <div id="slideBox">
        <div class="topLayer">
            <div class="right">
                <div class="content">
                    <h2>Sign Up</h2>
                    <form id="form-signup" method="post" action="register">
                        <div class="form-element form-stack">
                            <label for="username-signup" class="form-label">Username</label>
                            <input id="username-signup" type="text" name="username">
                        </div>
                        <div class="form-element form-stack">
                            <label for="password-signup" class="form-label">Password</label>
                            <input id="password-signup" type="password" name="password">
                        </div>
                        <div class="form-element form-checkbox">
                            <input id="confirm-terms" type="checkbox" name="confirm" value="yes" class="checkbox">
                            <label for="confirm-terms">I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></label>
                        </div>
                        <div class="form-element form-submit">
                            <button id="signUp" class="signup" type="submit" name="signup">Sign up</button>
                            <a href="login" id="goLeft" class="signup off button">Log In</a>
                        </div>
                    </form>
                </div>
                {% if error %}
                <li class="icon fa fa-home"><span class="title">Home</span><span class="hint"><p class="error"><strong>Welcome User:</strong> {{ error }} </p> <br>Like this pen to see the magic!...<br/> Just kidding, it won't happen anything but I'll be really happy If you do so.</span></li>
                {% endif %}

            </div>
        </div>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.3/paper-full.min.js'></script>
    <script src="{{ url_for('static',filename='styles/script.js') }}"></script>

</body>

</html>